
* {padding: 0px; border: 0px;margin: 0px; color: #fff; }
li {list-style: none;}

.head {width: 100%;height: 140px; background: linear-gradient(to right,#2B2E2B,#111311) ;}
.sectionbody{width: 996px;height: 3100px; background: linear-gradient(to right,#252D24, #111210 25%,#111210 ); margin: 0 auto;}
.profile{width: 8768px; height: 285px;}
img {width: 184px; height: 184px;float: left;}
.textbox{width: 550px; height: 285px;box-sizing: border-box;float: left;margin-left: 23px;}


.section_background_body {background-color :#2D312D;}
.section_background_panal {background:linear-gradient(to right, #5A605A,#3E443E);}

.section0 {width: 768px; height: 93px;margin-bottom: 24px;}
.section0_1 {width: 768px; height: 35px;float: left;}
.section0 ul li {display: inline-block; float: left; padding: 18px 10px;}

.section1 {width: 768px; height: 230px;margin-bottom: 24px;}
.section1_1 {width: 768px; height: 35px;float: left}
.section1 ul li:nth-last-child(6) {width: 93px;height:123px ; display: inline-block;background:url(../images/html_css_JS.png)left no-repeat ;background-size: 300%;margin-right: 16px;}
.section1 ul li:nth-last-child(5) {width: 93px;height:123px ; display: inline-block;background:url(../images/html_css_JS.png)center no-repeat ;background-size: 300%;margin-right: 16px;}
.section1 ul li:nth-last-child(4) {width: 93px;height:123px ; display: inline-block;background:url(../images/html_css_JS.png)right no-repeat ;background-size: 300%;margin-right: 16px;}
.section1 ul li:nth-last-child(3) {width: 93px;height:123px ; display: inline-block;background:url(../images/image6.png)center no-repeat;width:110px;height: 110px ;margin-right: 16px;}
.section1 ul li:nth-last-child(2) {width: 93px;height:123px ; display: inline-block;background:url(../images/image7.png)center no-repeat;width:110px;height: 110px ;margin-right: 16px;}
.section1 ul li:nth-last-child(1) {width: 93px;height:123px ; display: inline-block;background:url(../images/image8.png)center no-repeat;width:110px;height: 110px ;margin-right: 16px;}



.section2 {width: 768px; height: 230px;margin-bottom: 24px;}
.section2_1 {width: 768px; height: 35px;float: left}