@charset "utf-8";

li {list-style: none;}

#wrap {width: 1920px; background: #fff;}
#header {background: #4C4C4C; width: 1920px; height: 114px;}
#header h1 {margin: 0 auto }
.gnb {margin: auto 0; border: 4px solid green; text-align: center;font-size: 14px}
.gnb ul{display: inline-block; border: 1px solid red ; }
.gnb li{display: inline-block; margin: 0 40px}
#section {}